
/* selector de etiqueta, estilos generales */
h1 {
  color:blue;
  background-color: lightcoral;
}

/* selector universal, a todo */
* {
  font-style:italic;
}

/* selector de clase, va con prefijo de . */
.parrafos {
  font-weight: bold;
  background-color: peru;
}

.importante {
  font-size: 18px;
  text-decoration: underline;
}

/* selector de id, va con prefijo de # */
#nota {
  color: white;
}

/* operadores */
/* todos los li que esten dentro de cualquier ul */
ul li {
  color:dodgerblue;
}

/* > aplica SOLO a los primeros elementos hijos */
.champions > li {
  font-weight: bold;
}

/* El primer article adyacente después de span  */
span + article {
  background-color: yellow;
}

/* aplicará a todos los article hermanos que estén después de un span */
span ~ article {
  color:steelblue;
  font-weight: bold;
}

/* aplicar estilos a los selectores separandolos por la coma, como si fuera un Y */
.champions, .libertadores {
  /* border:tamaño forma color */
  border: 2px solid red;
}

/* estilos tabla */
table {
  /* al darle collapse hacemos que es espaciado entre bordes de una tabla sea nulo */
  border-collapse: collapse;
}

td {
  border:1px solid black;
}

/* pseudo clases */
li:hover {
  text-decoration: underline;
  color:crimson;
  cursor: pointer;
}

