* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* temporal */
  border:2px solid red;
}

/* los elementos con display block (LA GRAN MAYORIA) se comportan como bloques de lego, si los colocamos uno debajo de otro, por mucho que haya espacio al costado de uno, no se pondrá al costado del otro, "ocupan" todo su ancho */

h1 {
  background-color: aquamarine;
  width:200px;
}

article:nth-of-type(1) {
  width: 300px;
  background-color: coral;
}

/* los span. a son  */
span {
  /* display:inline, se acomoda al costado de otro */
  /* no podemos cambiar su tamaño, su tamaño se acomoda de acuerdo al contenido que envuelve */
  background-color: gold;
  width: 900px;
}

.segundo-span {
  background-color: skyblue;
}

/* div {
  width:600px;
} */

p {
  /* con inline-block, se acomodan uno al costado del otro pero si nos es posible darles un tamaño */
  /* NO, NO es recomendable forzarlo, inline block tiene un margen que NO se puede removar o modificar  */
  /* inputs y botones traen inline block */
  display: inline-block;
  background-color: deepskyblue;
  width: 300px;
  height: 50px;
}

aside {
  /* ignora el elemento con display none, como si no existiera */
  /* display: none; */
  /* no lo muestra pero esta ahí, incluso ocupando un espacio */
  visibility: hidden;
}
