* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.circulo {
  background-color: chocolate;
  padding:50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* TRANSICIONES */
  /* all hace referencia a todas las props */
  transition-property: all;
  /* como regla las transiciones no deben durar más de 300ms */
  transition-duration: 300ms;
  /* https://cubic-bezier.com/#.17,.67,.83,.67 */
  transition-timing-function: ease-in-out;
  /* transition-delay: 1s; */
}

.circulo:hover {
  background-color: dodgerblue;
  color: white;

}

.rectangulo {
  width: 400px;
  height: 200px;
  background-color: darkcyan;
  border:2px solid steelblue;
  /* rotate rota, scale cambia el tamaño escala el elemento, translate mueve en un eje X y Y, skew tuerce el elemento */
  transform: rotate(-45deg) scale(1.4) translate(50px, 75px) skew(30deg);
  /* transform:translate(50px, 75px); */
  /* transform va a aplicar sus cambios después que el layout ya este armado */
  /* transform: scale(1.5); */
}
