* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* temporal */
  border:2px solid red;
}

body {
  /* colocamos "más" fuentes en caso no encuentre rápido */
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fraunces", serif;
  font-weight: 300;
}
/* reseteando estilos de ul y a */
a {
  text-decoration: none;
  /* inherit -> heredado, vamos a tomar el color heredado de un elemento padre */
  color:inherit;
}

ul {
  list-style: none;
}

/* vamos a usarlo para centrar contenido */
.contenedor {
  max-width: 1200px;
  /* al darle el valor auto le estamos diciendo al navegador, que el se encargue */
  margin:0 auto;
}

.cabecera {
  padding:96px 0;
  /* text-center alinea SOLO texto de forma horizontal */
  text-align: center;
}

.oferta {
  font-size:12px;
  background-color: lightgray;
  padding:3px;
  /* indica el redondeado de un borde */
  border-radius: 50px;
}

.main-title {
  font-size:72px;
  /* verticalmente lo usual es aplicarlo o arriba o abajo pero no los dos, al menos no en múñtiples elementos */
  margin-top: 20px;
  /* los margenes verticales no se apilan uno encima de otro, más bien da la sensación de solaparse */
  /* margin-bottom: 20px; */
}

.text-marketing {
  color:gray;
  font-size:20px;
  margin-top:20px;
}

.call-to-action {
  margin-top: 30px;
}

/* con esta clase damos la forma */
.btn {
  padding: 15px 20px;
  border-radius: 50px;
  margin-left:10px;
  min-width: 130px;
  display: inline-block;
}

.btn-white {
  border: 2px solid black;
  font-weight: 500;
}

.btn-dark {
  background-color: black;
  color: white;
}

.rectangulo-header {
  /* las unidades porcentuales suelen tomar el elemento padre como referencia, en este caso header */
  width: 100%;
  margin-top: 64px;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 42px 88px;
  align-items: center;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
}
