* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* temporal */
  border:2px solid red;
}

body {
  /* colocamos "más" fuentes en caso no encuentre rápido */
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fraunces", serif;
  font-weight: 300;
}

/* vamos a usarlo para centrar contenido */
.contenedor {
  max-width: 1200px;
  /* al darle el valor auto le estamos diciendo al navegador, que el se encargue */
  margin:0 auto;
}

.cabecera {
  padding:96px 0;
  /* text-center alinea SOLO texto de forma horizontal */
  text-align: center;
}

.oferta {
  font-size:12px;
  background-color: lightgray;
  padding:3px;
  /* indica el redondeado de un borde */
  border-radius: 50px;
}

.rectangulo-header {
  /* las unidades porcentuales suelen tomar el elemento padre como referencia, en este caso header */
  width: 100%;
}

